.resume {
  margin: 100px 150px;
}

.education {
  display: flex;
  margin-top: 50px;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.left {
  width: 400px;
  margin-right: 100px;
}

.education .right {
  margin-left: 50px;
}

.right div {
  display: flex;
  margin: 0 0 20px 20px;
}

.right div .details {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  margin-top: 50px;
  padding: 20px 0;
  /* border-bottom: 1px solid #ccc; */
}

.skills .right li {
  margin: 0 0 10px 20px;
}

@media screen and (max-width: 800px) {
  .resume {
    margin: 100px 20px;
  }
  .education {
    flex-direction: column;
    align-items: center;
  }
  .left {
    width: auto;
    margin-right: 0;
  }
  .education .right {
    margin-left: 0;
    margin-top: 20px;
  }

  .skills {
    flex-direction: column;
    align-items: center;
  }
  .skills .left h2 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .resume {
    margin: 60px 20px;
  }

  .resume h1 {
    font-size: 1.5rem;
  }

  .education h2 {
    font-size: 1.3rem;
  }

  .education h3 {
    font-size: 1.1rem;
  }

  .education p {
    font-size: 0.9rem;
  }

  .skills h2 {
    font-size: 1.3rem;
  }

  .skills .right li {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 350px) {
  .resume {
    margin: 30px 20px;
  }

  .resume h1 {
    font-size: 1.3rem;
  }

  .education h2 {
    font-size: 1.1rem;
  }

  .education h3 {
    font-size: 1rem;
  }

  .education p {
    font-size: 0.8rem;
  }

  .skills h2 {
    font-size: 1.1rem;
  }

  .skills .right li {
    font-size: 0.8rem;
  }
}
